<h5>Usuarios</h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre y Apellido</th>
            <th scope="col">Usuario</th>
            <th scope="col">Rol</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for user_profile in user_profiles %}
            {% if user_profile.groups|join:", " == 'estudiante' %}
                <tr class="table-primary">
            {% elif user_profile.groups|join:", " == 'profesor' %}
                <tr class="table-success">
            {% elif user_profile.groups|join:", " == 'preceptor' %}
                <tr class="table-secondary">
            {% elif user_profile.groups|join:", " == 'administrativo' %}
                <tr class="table-danger">
            {% endif %}
                <th scope="row">{{ user_profile.user.get_full_name }}</th>
                <td>{{ user_profile.user.username }}</td>
                <td>{{user_profile.groups|join:", "|capfirst }}</td>
                <td class="text-center">
                    <a class="btn btn-sm btn-info" href="{% url 'user_details' user_profile.user.id %}">Info</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary" href="{% url 'add_user' %}">Agregar Usuario</a>