{% extends 'base.html' %}

{% block content %}

    <div class="container my-4">
        <div class="row">
            <div class="col">
                <h2>Nuestros Cursos</h2>
            </div>
            <div class="col">
                <span class="float-end">
                    {% if group_name == 'administrativos' %}
                        <a class="btn btn-success" href="{% url 'course_create' %}">Agregar Curso</a>
                    {% endif %}
                </span>
            </div>
        </div>
        <!--Seccion de mensajes--> 
        {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 my-4">
            {% for course in courses %}
            <div class="col">
                {% if course.status == 'i' %}
                <div class="card border border-success rounded shadow">
                {% elif course.status == 'p' %}
                <div class="card border border-warning rounded shadow">
                {% elif course.status == 'f' %}
                <div class="card border border-dark rounded shadow py-3">
                {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <p class="card-text">{{ course.description }}</p>
                        <p class="card-text"><strong>Profesor: </strong>{{ course.teacher.first_name }} {{ course.teacher.last_name }}</p>
                        <p class="card-text"><strong>Cantidad de clases: </strong>{{ course.class_quantity }}</p>
                        <p class="card-text"><strong>Cantidad de inscriptos: </strong>{{ course.enrollment_count }}</p>
                        {% if course.status == 'i' %}
                            <span class="badge rounded-pill text-bg-success fs-6 w-100 my-2">{{ course.get_status_display | upper }}</span>
                            {% if group_name == 'estudiantes' and not course.is_enrolled %}
                                <a class="btn btn-sm btn-success" href="{% url 'enroll_course' course.id %}">Inscribirse</a>
                            {% elif group_name == 'estudiantes' and course.is_enrolled %}
                                <a class="btn btn-sm btn-warning" href="{% url 'profile' %}">Al Perfil</a>
                            {% endif %}    
                        {% elif course.status == 'p' %}
                            <span class="badge rounded-pill text-bg-warning fs-6 w-100 my-2">{{ course.get_status_display | upper }}</span>
                            {% if course.is_enrolled %}
                                <a class="btn btn-sm btn-warning" href="{% url 'profile' %}">Al Perfil</a>
                            {% endif %}
                        {% elif course.status == 'f' %}
                            <span class="badge rounded-pill text-bg-dark fs-6 w-100 my-2">{{ course.get_status_display | upper }}</span>
                            {% if course.is_enrolled %}
                                <a class="btn btn-sm btn-warning" href="{% url 'profile' %}">Al Perfil</a>
                            {% endif %}
                        {% endif %}
                
                        {% if group_name == 'administrativos' %}
                        <a class="btn btn-sm btn-warning" href="{% url 'course_edit' course.id %}">Editar</a>
                        <a class="btn btn-sm btn-danger" href="{% url 'course_delete' course.id %}">Eliminar</a>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}

