{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container my-4">
    <h2 class="text-center">Eliminar Curso</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="card w-50 mx-auto my-5">
            <div class="card-body">
                <h5 class="card-title">Proceso de eliminación de registro</h5>
                <p>¿Está seguro que desea eliminar el curso de <strong>{{ course.name }}</strong>?</p>
                <div class="float-end">
                    <a type="button" class="btn btn-danger" href="" data-bs-toggle="modal" data-bs-target="#deleteModal">Eliminar</a>
                    <a class="btn btn-secondary mt-auto" href="{% url 'courses' %}">Cancelar</a>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                    </div>
                    <div class="modal-body">
                    ¿Está seguro que desea eliminar definitivamente el registro seleccionado?. Tenga en cuenta que esta acción no se puede deshacer.
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar Registro</button>
                    </div>
                </div>    
            </div>
        </div>
    </form>
</div>

{% endblock %}