{% extends 'base.html' %} 

{% block content %}

<div class="container">
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Precios</h1>
    <p class="fs-5 text-body-secondary">
      Desde Academia entendemos que su formación es prioritaria, requiere esfuerzo, por eso contribuimos en su desarrollo manteniendo los precios más accesibles y las mejores capacitaciones.
    </p>
  </div>
  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Precio por Curso</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$20.000</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Realiza el curso que desees al mejor precio</li>
              <li>Para poder incrementar tus habilidades como desarrollador</li>
              <li>Contactese para poder adquirir!!!</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Membresia simple<i class="fas fa-hotjar"></i></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$50.000</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Accede a nuestros cursos de manera ilimitada por 1 mes</li>
              <li>Los cursos que quieras disponibles por 30 dias</li>
              <li>Consultar por promociones</li>
              <li>No incluye información adicional</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Membresia Premium</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$250.000</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Accede de manera ilimitada a los cursos por 6 meses</li>
              <li>Accede a la totalidad de los cursos y certificaciones por medio año</li>
              <li>En el momento que lo desees, cuando sea, 24/7</li>
              <li>Consulte por promociones</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <p class="fs-5 text-body-secondary">
      Contáctenos por correo electrónico a: <strong>academia@academia.com</strong>, por telefono al numero: <strong>0261 - 4334566</strong> o por whatsapp al numero: <strong>0261 - 4778901</strong>.
    </p>
  </main>
  {% include 'action_buttons.html' %} 
</div>

{% endblock %}
