{% extends 'base.html' %} 

{% block content %}

<div class="container">
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Precios</h1>
    <p class="fs-5 text-body-secondary">
      Desde Alas DOZ entendemos que volar no es sencillo, requiere esfuerzo, por eso contribuimos en tu formación manteniendo los precios lo más accesible posible.
    </p>
  </div>
  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Precio por Vuelo Bautismo</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$40.000</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>vuelo para vivenciar lo que es volar</li>
              <li>El regalo perfecto para quien sueña con volar</li>
              <li>Agende su turno!!!</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Vuelo Turístico<i class="fas fa-hotjar"></i></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$70.000</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 minutos de vuelo por zonas turísticas</li>
              <li>Hasta 3 pasajeros</li>
              <li>Consultar por vuelos de mayor duración</li>
              <li>No incluye información adicional</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Vuelo por hora</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$75.000</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>60 minutos de vuelo</li>
              <li>incluye instructor</li>
              <li>El valor total de la clase se computa según la duración</li>
              <li>Consulte por packs de horas</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <p class="fs-5 text-body-secondary">
      Contáctenos por correo electrónico a: <strong>alasdoz@academia.com</strong>, por telefono al numero: <strong>0261 - 4334566</strong> o por whatsapp al numero: <strong>0261 - 4778901</strong>.
    </p>
  </main>
  {% include 'action_buttons.html' %} 
</div>

{% endblock %}
