{% extends 'base.html' %}

{% block content %}

<div class="container my-3 mb-5">
    <h2>Consulta de Datos</h2>
    <hr>
    <div class="row">
        <div class="col-md-4">
        <!-- Datos del perfil -->
        <div class="card border rounded-2 shadow p-3 mb-3">
            <div class="card-body">
                <img class="img-thumbnail rounded-circle mb-3" src="{{ user_profile.profile.image.url }}" alt="{{ user_profile.user_profilename }}" style="width: 100%" >
                <h2>{{ user_profile.first_name }} {{ user_profile.last_name }}</h2>
                <h5><span class="badge text-{{ color_user }} rounded-pill">{{ group_name_singular_user|capfirst }}</span></h5>
                <hr>
                <p><strong>Nombre de usuario: </strong>{{ user_profile.user_profilename }}</p>
                <p><strong>Domicilio: </strong>{{ user_profile.profile.address }}</p>
                <p><strong>Localidad: </strong>{{ user_profile.profile.location }}</p>
                <p><strong>Telefono: </strong>{{ user_profile.profile.telephone }}</p>
                <p><strong>Correo electrónico: </strong>{{ user_profile.email }}</p>
                <hr>
                <button type="button" class="btn btn-outline-secondary w-100 mb-1" data-bs-toggle="modal" data-bs-target="#editProfileModal">
                    Editar Perfil
                </button>
                
                <a class="btn btn-primary w-100" href="{% url 'profile' %}">Volver</a> 
            </div>
        </div>
        </div>
            <div class="col-md-8">
                <div class="card border rounded-2 shadow p-3 mb-3">
                    <div class="card-body">
                        {% if group_name_user == 'estudiantes' %}
                            {% include 'profile/students.html' %}
                        {% elif group_name_user == 'profesores' %}
                            {% include 'profile/profesor.html' %}
                        {% elif group_name_user == 'preceptores' %}
                            {% include 'profile/preceptor.html' %}
                        {% elif group_name_user == 'administrativos' %}
                            {% include 'profile/admin.html' %}
                        {% endif %}
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
</div>

<!-- Vertically centered modal -->
  
<!-- Modal -->
<div class="modal fade" id="editProfileModal"tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class=" modal-dialog modal-dialog-centered" ">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editProfileModal">Editar Perfil</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            
                <form action="{% url 'superuser_edit' user_profile.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="d-flex">
                            <img class="mx-auto img-thumbnail rounded-circle mb-3 " src="{{ user_profile.profile.image.url }}" alt="{{ user_profile.username }}" style="with: 50px">  
                        </div>
                        <div class="mb-3">
                            <label for="image">Imagen de Perfil</label>
                            <input class="form-control" type="file" name="image" id="image">
                        </div>
                        <div class="d-flex">
                            <div class="mb-3 mr-2">
                                <label for="first_name">Nombre</label>
                                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user_profile.first_name }}">
                            </div>
                            <div class="mb-3 mr-2">
                                <label for="last_name">Apellido</label>
                                <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user_profile.last_name }}">
                            </div>
                        </div>    
                        <div class="mb-3 mr-2">
                            <label for="address">Dirección</label>
                            <input type="text" class="form-control" id="address" name="address" value="{{ user_profile.profile.address }}">
                        </div>       
                        <div class="mb-3 mr-2">
                            <label for="location">Localidad</label>
                            <input type="text" class="form-control" id="location" name="location" value="{{ user_profile.profile.location }}">
                        </div>         
                        <div class="d-flex">
                            <div class="mb-3 mr-2">
                                <label for="telephone">Telefono</label>
                                <input type="text" class="form-control" id="telephone" name="telephone" value="{{ user_profile.profile.telephone }}">
                            </div>
                            <div class="mb-3 mr-2">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email" value="{{ user_profile.email }}" disabled>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="group">Grupo</label>
                            <select class="form-control" name="group" id="group">
                                {% for group_name, group_id in singular_groups %}
                                    <option value="{{ group_id }}" {% if group_id == group_id_user %}selected{% endif %}>{{ group_name }}</option>
                                {% endfor %}
                                
                            </select>
                        </div>
                    </div>
                
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>

{% endblock %}